src/main/resources/xml/xsdclasses/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer_id" type="xs:int"/>
                <xs:element name="document_no" type="xs:int"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="last_name" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="birthday" type="xs:date"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>